[submodule "backend"]
	path = backend
	url = https://github.com/mihajlodj/devops-hotel-webapp-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/mihajlodj/devops-hotel-webapp-frontend
[submodule "infra"]
	path = infra
	url = git@github.com:mihajlodj/infra.git
