[submodule "backend"]
	path = backend
	url = https://github.com/mihajlodj/devops-hotel-webapp-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/mihajlodj/devops-hotel-webapp-frontend
